.planProduct-div {
    display: flex;
}

.planProduct-button {
    border: 3px solid gray;
    width: 50%;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.planProduct-button:hover {
    background-color: rgb(155, 155, 155);
}

.planProduct-button-text {
    color: black;
    font-weight: bold;
    font-size: 20px;
}